#testimonials .content-container {
  margin-top: 50px;
  justify-content: space-between;
}

#testimonials .testimonial {
  width: 264px;
}

#testimonials .testimonial img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

#testimonials .testimonial .name {
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 16px;
}

#testimonials .testimonial .company-name {
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Alegreya", serif;
  opacity: 0.8;
  padding: 6px 0;
}

#testimonials .testimonial .review {
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 4px;
}
